<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._361_menu"
        tools:targetApi="31">
        <activity
            android:name=".MinigameTap"
            android:exported="false" />
        <activity
            android:name=".Minigame_Taptap"
            android:exported="false" />
        <activity
            android:name=".dialog_page5"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialog_page4"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialog_page3"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialog_page2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameOverPage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dialogpage_NosearchToilet"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dialogpage"
            android:exported="false"
            android:screenOrientation="landscape" /> <!-- Main Activity (starting page) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>